@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=Bruno+Ace+SC&family=Lunasima&family=Roboto+Mono&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

content {
    width: 390px;
    background-color: rgb(19, 110, 189);
}

header {
    width: 100%;
    height: 40px;
    background-color: #F19D2F;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.header-text {
    font-family: 'Lunasima', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    font-size: 0.8em;
}

.logo {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFD1AC;
}

.logo-cushion {
    width: 200px;
    
}

.logo-h2 {
    font-size: 0.7em;
    font-family: 'Lunasima', sans-serif;
    font-weight: bold;
    text-align: center;
}

article {
    display: flex;
    align-items: end;
    width: 100%;
    height: 281px;
    background-image: url(/public/images/tapki-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.static-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.timer-container {
    width: 100px;
    height: 60px;
    margin: 0 0 20px 20px;
    padding: 10px;
    border-radius: 10px;
    background: #F19D2F;
    
}

.timer-text {
    font-size: 0.69em;
    color: white;
    font-weight: bold;
    font-family: 'Lunasima', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.sale-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    background: #F19D2F;
    margin: 0 20px 20px 0;
    background: #37D997;
}

.sales-text {
    font-size: 1.1em;
    font-family: 'Lunasima', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.characteristic-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

    font-family: 'Lunasima', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 0.8em;
}

.characteristic-container > a {
    color: #37D997;
}

.view-review_text {
    color: #2C2B31;
    font-size: 1.3em;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.characteristic_logo {
    margin-bottom: 3px;
}

.views {
    display: flex;
    justify-content: center;
    background: #F0F0F0;
}

.views-rating {
    margin-top: 10px;
}

.views-container {
    width: 90%;
}

.carusel__preview-img {
    width: 100%;
}

.carusel-elems {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

.carusel-elem__item {
    width: 100%;
    cursor: pointer;
}

.view-carusel {
    margin-top: 20px;
}

.views-zvezda {
    display: flex;
    align-items: center;
    height: 30px;
}

.views__rate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 2px;
    width: 120px;
    margin-top: 4px;
}

.views__rate > img {
    width: 100%;
}

.views-zvezda > p {
    height: 25px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.measure-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.measure-container > p {
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: end;
    font-size: .9em;
}

.measure-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 10px;
}
.measure-box_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    outline: none;
    transition: 0.5s;
}

.measure-buyNow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #37D997;
    cursor: pointer;
    margin: 20px 0;
}

.measure-buyNow > a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    font-family: 'Lunasima', sans-serif;
}

.container__timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 1.4em;
    color: #FFF;
    
}

.alert {
    display: none;
}

select {
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}